plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/paul/learning/three-js/game-client/dist"
publishOrigin = "config"
commandOrigin = "config"
base = "/Users/paul/learning/three-js/game-client"
command = "npm run build"

[build.environment]
NODE_VERSION = "22"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]